<div class="card">
    <div class="card-header">
        <h5 class="card-title"> Quote of the day! </h5>
</div>
    <div class="card-body">
        <blockquote class="blockquote text-center">
            <p class="mb-0">@Model.Quote</p>
            <footer class="blockquote-footer"><cite title="Source Title">@Model.Author</cite></footer>
        </blockquote>
    </div>
</div>

    
